body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


h1 {
    text-align: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150px;
    color: #7bdfff;
    background-color: #2a2a2a;
    padding: 20px;
    font-family: 'Meow Script', cursive;
    
}

.photo  {
    width: 700px;
    height: 400px;
    float: right;
    padding: 20px;
    margin-right: 12px;
    margin-top: 12px;
    box-shadow: 2px 2px 3px ;
}
.block {
    font-size: 24px;
    width: 100%;
    background: white;
    padding: 20px;
    margin-bottom: 0 0 20px 0;
    margin-right: 420px;
    display:inline-block;
    font-family: "Newsreader", serif;
    
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cta {
    text-align: center;
    margin-top: 40px;
}

.cta a {
    font-size: 50px;
    font-weight: bold;
    color: #0078ff;
    text-decoration: none;
}

.cta a:hover {
    text-decoration: underline;
}
.block:nth-child(even) {
    background: #ffffff;
}

.block:nth-child(odd) {
    background: #f9f9f9;
}